---
import { Icon } from 'astro-icon/components';
import Email from './Email.astro';
---

<div class="flex flex-col">
  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2 py-44">
      <h3 class="text-4xl">Let's have a chat!</h3>
      <a class="text-6xl" href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#109;&#097;&#114;&#099;&#112;&#097;&#114;&#116;&#114;&#105;&#100;&#103;&#101;&#046;&#099;&#111;&#109;">&#104;&#101;&#108;&#108;&#111;&#064;&#109;&#097;&#114;&#099;&#112;&#097;&#114;&#116;&#114;&#105;&#100;&#103;&#101;&#046;&#099;&#111;&#109;</a>
    </div>
    <div class="w-full md:w-1/2 py-4">
      Right Column
    </div>
  </div>
</div>