---
import { Astronav, MenuItems, MenuIcon} from "astro-navbar";
import { Icon } from 'astro-icon/components';
---

<header data-testId="header" class="">
	<Astronav>
        <div class="flex flex-row py-6">
            <div class="w-full w-1/2">
              <a href=""><Icon name="logo" title="Marc Partridge" class="text-aztec-900 dark:text-aztec-50"/></a>
            </div>
            <MenuItems class="hidden lg:flex w-full md:w-1/3 justify-center">
                <ul class="flex flex-col lg:flex-row lg:gap-3 justify-center">
                    <li class="uppercase">About</li>
                    <li class="uppercase">Work</li>
                    <li class="uppercase">Contact</li>
                </ul>
            </MenuItems>
            <div class="w-full w-1/2 flex justify-end">
                <Icon name="linkedin" size={40} class="text-aztec-900 dark:text-aztec-50"/>
                <button type="button" id="theme-selector">
                    <span class="sr-only">Enable <span class="dark:hidden">light</span><span class="hidden dark:inline">dark</span> mode</span>
                    <Icon name="light" size={40} class="hidden dark:inline"/>
                    <Icon name="dark" size={40} class="dark:hidden"/>
                  </button>
                  <script>
                    document.getElementById('theme-selector')?.addEventListener('click', () => {
                      if (localStorage.theme === 'dark') {
                        localStorage.theme = 'light';
                        document.documentElement.classList.remove('dark');
                      } else {
                        localStorage.theme = 'dark';
                        document.documentElement.classList.add('dark');
                      }
                    });
                  </script>
                <div class="block lg:hidden">
                    <MenuIcon class="h-4 w-4 text-black dark:text-white" />
                </div>
            </div>
		</div>
	</Astronav>
</header>