---
import Head from "./Head.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const { seoTitle, seoDesc } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<Head seoTitle={seoTitle} seoDesc={seoDesc}/>
	<body class="flex flex-col min-h-svh bg-neutral-100 text-aztec-950 dark:bg-neutral-950 dark:text-gray-100 mx-auto max-w-screen-2xl px-5 xs:text-[16px] md:text-[18px]">
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	span.email b {
		display: none;
	}
</style>
